html {
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: #e7ecf7;
}
.text-center {
	text-align center;
}
.heading {
	font-size: 1.25rem;
}
.bg-dark-blue {
	background: #2e3e71;
}
.bg-light-blue{
	background: #336ea2;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a { text-decoration: none;
	color: #b2b5be;
}
#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 100px;
}
#navbar a {
    padding: 0.75rem;
}
#navbar a:hover {
    background: #5990c0;
    border-radius: 10px;
}
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 3px solid grey;
    color: black;
}
#home img {
    max-width: 300px;
    height: auto;
    border-radius: 100%;
}
#home .name {
    text-align: center;
}
#home .name h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}
#home .name p {
    font-style: italic;
}
#about .row {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2rem;
}
#about .row .content {
	flex: 1 1 45rem;
}
#about .row .content h3{
	font-size: 3 rem;
	color: blueviolet;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
}   
#about .row .content p{
	font-size: 1.6 rem;
	color: black;
	padding: 5 rem 5;
	line-height: 1.8;
    margin-top: 0rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
} 
#about .row a {
	color: red;
}
#about .row a:hover {
    color: rgb(224, 102, 102);
	opacity: 0.4;
}
form {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #2e3e71;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #336ea2;
}
.footer{
    background-color: black;
    text-align: center;
}   
.footer .row{
    display: flex;
    background-color: black;
    gap: 1rem;
}
.footer .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    margin: 4rem;
}   
.footer .share{
    padding-top: 0rem;
    padding-bottom: 2.5rem;
}
.footer .share a{
    font-size: 3rem;
}
.footer .share a:hover{
    background-color: black;
    opacity: 0.4;
}
button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #2e3e71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button i {
    margin-right: 5px; 
}
button:hover i {
    color: #ff9900; 
}
#tarihSaat {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    background-color: #000;
    text-align: center;
    padding: 10px;
}
