html {
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: #e7ecf7;
}
.text-center {
	text-align center;
}
.heading-small {
	font-size: 1.25rem;
}
.heading-medium {
	font-size: 1.5rem;
}
.heading-big {
	font-size: 1.75rem;
}
.bg-dark-blue {
	background: #2e3e71;
}
.bg-light-blue{
	background: #336ea2;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a { text-decoration: none;
	color: #b2b5be;
}
#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 100px;
}
#navbar a {
    padding: 0.75rem;
}
#navbar a:hover {
    background: #5990c0;
    border-radius: 10px;
}
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
    color: black;
}
#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
#home .name {
    text-align: center;
}
#home .name h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}
#home .name p {
    font-style: italic;
}
#about .row {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2rem;
}
#about .row .content {
	flex: 1 1 45rem;
}
#about .row .content h3{
	font-size: 3 rem;
	color: blueviolet;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
}   
#about .row .content p{
	font-size: 1.6 rem;
	color: black;
	padding: 5 rem 5;
	line-height: 1.8;
    margin-top: 0rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
} 
.footer{
    background-color: black;
    text-align: center;
}   
.footer .row{
    display: flex;
    background-color: black;
    gap: 1rem;
}
.footer .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    margin: 4rem;
}   
.footer .share{
    padding-top: 0rem;
    padding-bottom: 2.5rem;
}
.footer .share a{
    font-size: 1.5rem;
}
.footer .share a:hover{
    background-color: black;
    opacity: 0.4;
}